@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

.hero { overflow: hidden; position: relative; }

.hero-text-container { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-align: center; align-items: center; position: absolute; top: 56px; text-align: center; text-transform: uppercase; }

.hero-name { color: #d8d8d8; font-size: 24px; line-height: 48px; }

.hero-services { padding-bottom: 47px; color: #fff; font-size: 30px; }

.hero-paragraph { font-size: 14px; color: #fff; padding-bottom: 20px; }

.hero-btn { width: 300px; height: 54px; border: none; font-size: 14px; text-transform: uppercase; font-family: spartan; cursor: pointer; }

.hero-btn-one { background-color: #f8db14; margin-bottom: 15px; }

.hero-btn-two { background-color: rgba(0, 0, 0, 0.5); color: #f8db14; margin-bottom: 42px; }

.hero-arrow-down { font-size: 14px; color: #fff; }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

body.active { position: absolute; right: 300px; top: 0; transition: .5s all linear; }

.logo-container { height: 80px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.logo-img { margin-left: 25px; }

.menu { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; position: fixed; top: 0; right: -320px; width: 300px; height: 100vh; background-color: #2a2a2a; z-index: 999; transition: .5s all linear; }

.menu.active { right: 0; }

.menu-item { list-style-type: none; text-align: left; font-size: 24px; padding-left: 42px; font-family: Spartan, "Roboto", sans-serif; line-height: 80px; }

.menu-item > a { color: #fff; text-transform: uppercase; text-decoration: none; }

.menu-item:first-child { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; font-size: 14px; color: #797979; }

.hamburger { position: absolute; top: 30px; right: 24px; font-size: 18px; color: #4d4d4d; }

.hamburger-icon.active { display: none; }

.menu-controller { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.menu-controller-icon { padding-right: 32px; font-size: 24px; }

@media all and (min-width: 480px) { .menu { width: 382px; right: -390px; } }

@media all and (min-width: 1024px) { .menu { -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: end; justify-content: flex-end; -ms-flex-align: center; align-items: center; width: 100%; right: calc((100% - 1384px) / 2); background-color: transparent; height: 80px; }
  .menu-item { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; font-size: 13px; padding-right: 37px; padding-left: 0; text-align: center; line-height: 20px; }
  .menu-item > a { color: #2a2a2a; line-height: 70px; transition: .3s; }
  .menu-item > a::after { content: ''; display: block; width: 98%; border: 3px solid #f8db14; background-color: #f8db14; visibility: hidden; }
  .menu-item:hover a { color: #f8db14; cursor: pointer; }
  .menu-item:hover a::after { visibility: visible; }
  .menu-item:first-child { display: none; }
  .hamburger-icon { display: none; }
  .logo-container { height: 60px; }
  .logo-img { margin-left: 37px; } }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { margin: 0 auto; font-family: Spartan, sans-serif; right: 0; top: 0; transition: .5s all linear; }

.container { margin: 0 auto; width: 1384px; max-width: 100%; }

@font-face { font-family: Spartan; src: url(../../fonts/leaguespartan-bold.woff); }
/*# sourceMappingURL=main.css.map */