//Variables
@import 'variables/colors';
@import 'variables/fonts';

//Blocks
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/hero';
@import 'blocks/navigation';
@import 'blocks/realizations';
@import 'blocks/services';
@import 'blocks/team';
@import 'blocks/emergency';
@import 'blocks/realizations-article';
@import 'blocks/other-services';

//Second tab
@import 'blocks/tiles';

//Global
@import 'global/global';




