//Global CSS settings
@import '../variables/fonts';
@import '../variables/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
margin: 0 auto;
font-family: Spartan, sans-serif;
right: 0;
top: 0;
transition: .5s all linear;
}

.container {
  margin: 0 auto;
  width: 1384px;
  max-width: 100%;
}