//Global CSS settings

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

body {
  margin: 0 auto;
  font-family: $roboto, sans-serif;
  transition: .5s all linear;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $spartan, sans-serif;
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 1170px;
  max-width: 100%;
}