//Colors

$black: #000;
$white: #fff;
$yellow: #f8db14;
$background-black: #1f1f1f;
$grey: #4a4a4a;
$border-gray: #333333;
$border-realizations: #e9e9e9;
$contact-after: #1e1e1e;
$team-paragraph: #c6c6c6;
$team-name: #595959;
$realizations-subheader: #585858;
$services-paragraph: #8c8c8c;
$emergency-paragraph: #9c8b18;
$contact-name: #808080;
$contact-address: #a8a8a8;
$copy-year: #545454;
$copy-webmaster: #7f7f7f;
$mobile-menu-background: #2a2a2a;
$mobile-menu-controller: #797979;
$hamburger-icon: #4d4d4d;
$hero-name: #d8d8d8;
$text-contact-social: #666666;
$tiles-header: #736718;
$tiles-subheader: #191919;
$tiles-paragraph: #414141;
$form-input: #8f8f8f;
$tiles-description: #f0f0f0;
$tiles-info-span: #636363;
$tiles-info-paragraph: #737373;