//Colors

$black: #000;
$white: #fff;
$yellow: #f8db14;
$background-black: #1f1f1f;
$grey: #4a4a4a;
$border-gray: #333333;
$team-name: #c6c6c6;
$team-paragraph: #595959;
$services-subheader: #585858;
$services-paragraph: #8c8c8c;
$emergency-paragraph: #9c8b18;
$contact-name: #808080;
$contact-address: #a8a8a8;
$copy-year: #545454;
$copy-webmaster: #7f7f7f;
$mobile-menu-background: #2a2a2a;
$mobile-menu-controller: #797979;
$hamburger-icon: #4d4d4d;