//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: Spartan;
  src: url(../../fonts/leaguespartan-bold.woff);
}

$spartan: Spartan, 'Roboto', sans-serif;
$roboto: 'Roboto', Spartan, sans-serif;

//Font size
$font-size-xxxs: 12px;
$font-size-xxs: 13px;
$font-size-xs: 14px;
$font-size-s: 18px;
$font-size-m: 23px;
$font-size-l: 24px;
$font-size-xl: 30px;
$font-size-xxl: 48px;
