//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
  font-family: Spartan;
  src: url(../../fonts/leaguespartan-bold.woff);
}

$spartan: Spartan, 'Roboto', sans-serif;
$roboto: 'Roboto', Spartan, sans-serif;

