//Contact section
@import '../variables/colors';
@import '../variables/fonts';

.contact {
  background-color: $black;
  background-image: url(../../images/test.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 70%;

  &-container {
    width: 90%;
    margin: 0 auto;
  }

  &-logo-img {
    margin-top: 43px;
    margin-bottom: 40px;
  }

  &-logo {
    border-bottom: 1px solid $contact-after;
  }
}

.contact-address {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: $contact-name;
  font-family: $roboto;
  border-bottom: 1px solid $contact-after;

  &-item {
    width: 80%;
    padding-bottom: 44px;
  }

  &-name {
    padding-top: 28px;

    span {
      font-size: $font-size-s;
      font-family: $roboto;
      text-transform: uppercase;
      color: $contact-name;
      font-weight: 700;
    }
  }

  &-mail {
    span {
      color: $yellow;
    }
  }
}

.contact-social {
  border-bottom: 1px solid $contact-after;
  display: flex;
  flex-direction: column;

  p {
    font-size: $font-size-xs;
    text-transform: uppercase;
    color: $text-contact-social;
    padding: 28px;
    text-align: center;
  }

  &-icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 54px;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 28px;
    border: none;
    background-color: $yellow;
    position: relative;

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $yellow;
      position: absolute;
    }

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }

    i {
      z-index: 998;
      font-size: $font-size-m;
    }
  }
}

.contact-menu {
  display: flex;
  flex-wrap: wrap;

  &-item {
    display: flex;
    list-style-type: none;
    width: 45%;
    font-size: $font-size-xxxs;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      line-height: 52px;

      &:hover {
        color: $yellow;
      }
    }
  }
}

.contact-map {
  overflow: hidden;
  height: 250px;
  position: relative;

  img {
    filter: grayscale(40);
    width: 100%;
  }

  &-hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 38px;
    border: none;
    background-color: $yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
      position: absolute;
      top: 200%;
      color: $yellow;
      text-align: center;
      text-transform: uppercase;
      font-size: $font-size-xs;
      width: 80px;
    }

    i {
      z-index: 997;
      font-size: $font-size-m;
    }

    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $yellow;
      position: absolute;
    }

    &::before {
      transform: rotate(60deg);
    }

    &::after {
      transform: rotate(-60deg);
    }
  }
}

//RWD
//Min width 480px
@media all and (min-width: 480px) {
  .contact {
    background-position-x: 110%;
    background-position-y: 10%;
  }

  .contact-address-item {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
  }

  .contact-social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &-item {
      margin: 22px 14px;
    }

    &-icons {
      padding-bottom: 0;
    }
  }

  .contact-menu {
    justify-content: space-between;

    &-item {
      width: 20%;

      a {
        font-size: 8px;
        padding: 0;
        width: 100%;
        text-align: center;
      }
    }
  }
}

//Min width 610px
@media all and (min-width: 610px) {
  .contact-menu {
    &-item {
      a {
        font-size: 11px;
        line-height: 70px;
      }
    }
  }
}

//Min width 768px
@media all and (min-width: 768px) {
  .contact {
    background-color: $black;
    background-image: url(../../images/test.png);
    background-repeat: no-repeat;
    background-position-x: -300px;
    background-position-y: -100px;

    &-social {
      padding: 0;
    }

    &-address {
      justify-content: space-between;
    }
  }

  .contact-address-item {
    width: 30%;
    padding-bottom: 0;
  }

  .contact-menu-item {
    a {
      font-size: $font-size-xxs;
    }
  }

  // .contact-map {
  //   img {
  //     width: 100%;
  //   }
  // }

  .contact-social {
    &-icons {
      margin: 30px 0;
    }

    p {
      padding-left: 0;
    }
  }
}

//Min width 1024px
@media all and (min-width: 1024px) {
  .contact {
    display: flex;
    // flex-grow: 1;

    &-menu {
      margin-bottom: 0;

      &-item {
        a {
          font-size: $font-size-xxxs;
          line-height: 50px;
        }
      }
    }

    &-wrapper {
      display: flex;
      padding-left: 20px;
    }

    &-social-icons {
      justify-content: center;
      flex-grow: 1;
    }

    &-map {
      width: 78%;
      height: 100%;
      font-size: 0;

      &-hexagon {
        top: 85%;
        left: 80%;

        p {
          top: 30%;
          right: 130%;
        }
      }
    }
  }

  .contact-address-name {
    padding-top: 0;
  }

  .contact-address-item {
    width: 33%;
    align-items: flex-start;
  }
}

//Min width 1384px
@media all and (min-width: 1384px) {
  .contact {
    height: 450px;

    &-map {
      width: 90%;
      height: 100%;

      &-hexagon {
        top: 85%;
        left: 83%;
      }

      img {
        height: 100%;
      }
    }
  }
}
