//Contact section
@import '../variables/colors';
@import '../variables/fonts';

.contact {
  // padding-left: 25px;
  // padding-right: 25px;
  background-color: $black;
  background-image: url(../../images/logo_big.png);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 60%;

  &-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }

  &-container {
    margin: 0 auto;
  }

  &-logo-img {
    padding-top: 43px;
    padding-bottom: 40px;
  }

  &-logo {
    border-bottom: 1px solid $contact-after;
    font-size: 0;
  }

  &-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: $contact-name;
    font-family: $roboto;
    border-bottom: 1px solid $contact-after;

    &-item {
      width: 80%;
      padding-bottom: 44px;
    }

    &-name {
      padding-top: 28px;

      h5 {
        font-size: $font-size-s;
        font-family: $roboto;
        text-transform: uppercase;
        color: $contact-name;
        font-weight: 700;
      }
    }

    &-mail {
      span {
        color: $yellow;
      }
    }
  }

  &-social {
    border-bottom: 1px solid $contact-after;
    display: flex;
    flex-direction: column;

    p {
      font-size: $font-size-xxs;
      text-transform: uppercase;
      color: $text-contact-social;
      padding: 40px;
      text-align: center;
    }

    &-icons {
      display: flex;
      justify-content: space-around;
      padding-bottom: 54px;
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 25px;
      border: none;
      background-color: $yellow;
      position: relative;

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $yellow;
        position: absolute;
      }

      &::before {
        transform: rotate(60deg);
      }

      &::after {
        transform: rotate(-60deg);
      }

      i {
        z-index: 998;
        font-size: $font-size-m;
      }
    }
  }

  &-menu {
    display: flex;
    flex-wrap: wrap;

    &-item {
      display: flex;
      list-style-type: none;
      width: 45%;
      font-size: $font-size-xxxs;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        line-height: 52px;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  &-map {
    overflow: hidden;
    max-height: 300px;
    position: relative;
    // padding: 0;

    img {
      filter: grayscale(40);
      height: auto;
      max-width: 100%;
      display: block;
      // padding: 0;
    }

    &-hexagon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 31px;
      border: none;
      background-color: $yellow;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      p {
        position: absolute;
        top: 200%;
        left: -10%;
        color: $yellow;
        text-align: center;
        text-transform: uppercase;
        font-size: $font-size-xs;
        width: 80px;
      }

      i {
        z-index: 997;
        font-size: $font-size-m;
      }

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: $yellow;
        position: absolute;
      }

      &::before {
        transform: rotate(60deg);
      }

      &::after {
        transform: rotate(-60deg);
      }
    }
  }
}

//RWD===========================================================
//Min width 480px
@media all and (min-width: 480px) {
  .contact {
    background-position-x: 140%;
    background-position-y: -60%;

    &-logo {
      text-align: left;
    }

    &-social {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // padding: 20px 0;

      p {
        text-align: left;
        padding-left: 0;
      }

      &-item {
        margin: 22px 14px;
      }

      &-icons {
        padding-bottom: 0;
      }
    }

    &-map {
      padding: 0;
    }

    &-menu {
      justify-content: space-between;

      &-item {
        // width: 20%;
        width: auto;

        a {
          font-size: 12px;
          padding: 0;
          width: 100%;
          line-height: 60px;
          // text-align: right;
        }
      }
    }

    &-address {

      &-item {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex-grow: 1;
        align-items: flex-start;
        // justify-content: center;
      }

      &-id {
        padding-top: 50px;
      }
    }
  }
}

//Min width 610px
// @media all and (min-width: 610px) {
//   .contact-menu {
//     &-item {
//       a {
//         font-size: 11px;
//         line-height: 70px;
//       }
//     }
//   }
// }

//Min width 768px
@media all and (min-width: 768px) {
  .contact {
    background-position-x: -300px;
    background-position-y: -100px;

    &-map {
      img {
        width: 100%;
      }
    }

    &-menu {

      &-item {
        a {
          font-size: $font-size-xxs;
        }
      }
    }

    &-social {
      padding: 0;

      &-icons {
        margin: 25px 0;
      }

      p {
        padding-left: 0;
      }
    }

    &-address {
      justify-content: space-between;

      &-item {
        width: 30%;
        padding: 20px 0;
        // align-items: center;
      }
    }
  }
}

//Min width 1024px
@media all and (min-width: 1024px) {
  .contact {
    display: flex;

    &-container {
      width: 100%;
    }

    &-menu {
      margin-bottom: 0;

      &-item {
        a {
          line-height: 0;
          padding-top: 33px;
          padding-bottom: 57px;
        }
      }
    }

    &-wrapper {
      display: flex;
      padding-left: 20px;
    }

    &-social-icons {
      justify-content: center;
      flex-grow: 1;
    }

    &-map {
      min-width: 40vw;
      max-height: none;
      font-size: 0;

      img {
        width: auto;
        max-width: none;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-hexagon {
        top: 28vh;
        left: 85%;

        p {
          top: 1vh;
          left: -100px;
        }
      }
    }

    &-address {

      &-name {
        padding-top: 0;

        h5 {
          font-size: $font-size-xs;
        }
      }

      &-item {
        width: 33%;
        align-items: flex-start;
        padding: 35px 0;
      }
    }
  }
}

//Min width 1170px
@media all and (min-width: 1170px) {
  .contact {
    height: 450px;

    &-map {
      max-width: 90%;
      height: 100%;

      &-hexagon {
        top: 28vh;
      }
    }

    &-menu-item {
      a {
        font-size: $font-size-xxxs;
      }
    }
  }
}

//Min width 1480px
@media all and (min-width: 1480px) {
  .contact-wrapper {
    position: absolute;
    padding-left: calc(50% - 585px);
    width: 60vw;
  }
}