//Emergency section
@import '../variables/colors';
@import '../variables/fonts';

.emergency {
  background-color: $yellow;
}

.emergency-container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.emergency-header {
  font-family: $roboto;
  color: $emergency-paragraph;
  font-size: $font-size-s;
  padding: 30px 0 27px 0;
  font-weight: 400;
}

.emergency-phone {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: $font-size-s;
  padding-bottom: 30px;
  text-transform: uppercase;
}

.emergency-number {
  font-size: $font-size-l;
}

//Min width 480px
@media all and (min-width: 480px) {

}

//RWD
//min width 768px
@media all and (min-width: 768px) {
  .emergency-container {
    display: flex;
    justify-content: space-around;
  }

  .emergency-phone {
    padding-bottom: 0;
    flex-grow: 1;
  }
}

//Min width 1170px
@media all and (min-width: 1170px) {
  .emergency-container {
    justify-content: space-between;
    width: 100%;
  }

  .emergency-phone {
    justify-content: space-between;
    padding-left: 80px;
    width: 50%;
    flex-grow: initial;
  }
}