//Emergency section
@import '../variables/colors';
@import '../variables/fonts';

.emergency {
  background-color: $yellow;
}

.emergency-container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.emergency-header {
  font-family: $roboto;
  color: $emergency-paragraph;
  font-size: $font-size-s;
  padding: 33px 0 38px 0;
}

.emergency-phone {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: $font-size-xs;
  padding-bottom: 40px;
  text-transform: uppercase;
}

.emergency-number {
  font-size: $font-size-xs;
}

//Min width 480px
@media all and (min-width: 480px) {
  .emergency-number {
    font-size: $font-size-l;
  }

  .emergency-phone {
    font-size: $font-size-l;
  }
}

//RWD
//min width 768px
@media all and (min-width: 768px) {
  .emergency-container {
    display: flex;
    justify-content: space-around;
  }

  .emergency-phone {
    padding-bottom: 0;
    flex-grow: 1;
  }
}