//Footer section

footer {
  font-family: $roboto;
  font-size: $font-size-xxs;
  color: $copy-year;
  line-height: 75px;
  text-align: center;
  background-color: $contact-after;

  span {
    font-size: $font-size-xxxs;
    color: $copy-webmaster;
  }

}