//Hero section

.hero {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: $black;
  width: 100%;
  height: 79vh;

  &-btn-container {
    display: flex;
    flex-direction: column;
  }
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  width: 100%;
}

.hero-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-down-arrow-container {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
}

.hero-name {
  color: $hero-name;
  font-size: $font-size-l;
  line-height: 48px;
}

.hero-services {
  padding-bottom: 10px;
  color: $white;
  font-size: $font-size-xl;
  line-height: 48px;
}

.hero-paragraph {
  font-size: $font-size-xs;
  color: $white;
  padding-bottom: 20px;
}

.hero-btn {
  border: none;
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-family: $spartan;
  cursor: pointer;
  text-align: center;

  &-one {
    width: 300px;
    line-height: 54px;
    background-color: $yellow;
    margin-bottom: 15px;
  }

  &-two {
    width: 300px;
    line-height: 54px;
    background-color: rgba($black, 0.5);
    color: $yellow;
  }
}

.hero-arrow-down {
  font-size: $font-size-xxl;
  color: $white;
}

.slider-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-controller-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  display: none;
}

//RWD============================================================================
//Min width 480px

@media all and (min-width: 480px) {

  .slider-controller {
    width: 47px;
    height: 47px;
    border: 2px solid $white;
    color: $white;
    font-size: $font-size-xl;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .slider-controller-icon {
    display: block;
  }

  .hero-services {
    font-size: $font-size-xxl;
  }
}

//Min width 768px;
@media all and (min-width: 768px) {
  .hero-btn-container {
    flex-direction: row;
    justify-content: center;
  }

  .hero-name {
    line-height: 80px;
  }

  .hero-services {
    font-size: $font-size-xxxl;
    line-height: 65px;
    padding-bottom: 30px;
  }

  .hero-btn-one {
    margin-right: 5px;
    width: 200px;
    margin-bottom: 0;
  }

  .hero-btn-two {
    margin-left: 5px;
    width: 260px;
  }

  .slider-controller-container {
    bottom: calc(50% - 40px);
  }
}

//Min width 1024px;
@media all and (min-width: 1024px) {
  .hero {
    height: 100vh;
  }

  .slider-controller {
    width: 80px;
    height: 80px;
    font-size: $font-size-xxxl;
  }

  .hero-text-container {
    width: 80%;
    transform: translate(-50%, -35%);
  }

  .hero-services {
    font-size: $font-size-xxxxl;
    line-height: 80px;
  }

  .hero-btn {
    margin-bottom: 180px;
  }
}

//Min width 1400px;
@media all and (min-width: 1480px) {

  .hero {
    height: calc(100vh - 90px);
  }

  .hero-text-container {
    left: calc(50% - 585px);
    transform: translate(0%, -41%);
    width: 50%;
  }

  .hero-btn-container {
    justify-content: flex-start;
  }

  .hero-name {
    width: 100%;
  }

  .hero-header-container {
    text-align: left;
  }

  .hero-services {
    padding-bottom: 50px;
  }
}