//Hero section
@import '../variables/colors';
@import '../variables/fonts';

.hero {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: $black;
  //dodane
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;

  &-btn-container {
    display: flex;
    flex-direction: column;
  }
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  position: absolute;
  top: 56px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.hero-name {
  color: $hero-name;
  font-size: $font-size-l;
  line-height: 48px;
}

.hero-services {
  padding-bottom: 43px;
  color: $white;
  font-size: $font-size-xl;
}

.hero-paragraph {
  font-size: $font-size-xs;
  color: $white;
  padding-bottom: 20px;
}

.hero-btn {
  width: 300px;
  height: 54px;
  border: none;
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-family: spartan;
  cursor: pointer;

  &-one {
    background-color: $yellow;
    margin-bottom: 15px;
  }

  &-two {
    background-color: rgba($black, 0.5);
    color: $yellow;
    margin-bottom: 35px;
  }
}

.hero-arrow-down {
  font-size: $font-size-l;
  color: $white;
}

.slider-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.slider-controller-icon {
  display: none;
}

//RWD===================================================================================
//Min width 480px

@media all and (min-width: 480px) {

  .slider-controller {
    width: 47px;
    height: 47px;
    border: 2px solid $white;
    position: absolute;
    bottom: 25px;
    color: $white;
    font-size: $font-size-xl;
    display: flex;
    justify-content: center;
    align-items: center;

    &-left {
      left: 25px;
    }

    &-right {
      right: 25px;
    }
  }

  .slider-controller-icon {
    display: block;
  }

  .hero-services {
    font-size: $font-size-xxl;
  }
}

//Min width 768px;
@media all and (min-width: 768px) {
  .slider-controller {
    bottom: 25vh;
  }
}

//Min width 784px
@media all and (min-width: 784px) {
  .slider-controller {
    bottom: 20vh;
  }
}

//Min width 1024px;
@media all and (min-width: 1024px) {
  .slider-img {
    height: calc(100vh - 80px);
  }

  .hero-text-container {
    top: 100px;
  }

  .slider-controller {
    width: 60px;
    height: 60px;
    font-size: $font-size-xxxl;
  }

  .hero-services {
    font-size: $font-size-xxxxl;
  }

  .hero-btn-container {
    flex-direction: row;
  }

  .hero-btn {
    margin-bottom: 180px;
  }

  .hero-btn-one {
    margin-right: 5px;
  }

  .hero-btn-two {
    margin-left: 5px;
  }


}