//Hero section
@import '../variables/colors';
@import '../variables/fonts';

.hero {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: $black;
  width: 100%;
  height: 79vh;
  // height: 490px;

  &-btn-container {
    display: flex;
    flex-direction: column;
  }
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  width: 100%;
}

.hero-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: absolute;
  // top: 8vh;
  // width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-down-arrow-container {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  // bottom: 5vh;
  bottom: 34px;
}

.hero-name {
  color: $hero-name;
  font-size: $font-size-l;
  line-height: 48px;
}

.hero-services {
  padding-bottom: 10px;
  color: $white;
  font-size: $font-size-xl;
  line-height: 48px;
}

.hero-paragraph {
  font-size: $font-size-xs;
  color: $white;
  padding-bottom: 20px;
}

.hero-btn {
  border: none;
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-family: $spartan;
  cursor: pointer;

  &-one {
    width: 300px;
    height: 54px;
    background-color: $yellow;
    margin-bottom: 15px;
  }

  &-two {
    width: 300px;
    height: 54px;
    background-color: rgba($black, 0.5);
    color: $yellow;
    // margin-bottom: 35px;
  }
}

.hero-arrow-down {
  font-size: $font-size-l;
  color: $white;
}

.slider-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-controller-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
  display: none;
}

//RWD============================================================================
//Min width 480px

@media all and (min-width: 480px) {

  .slider-controller {
    width: 47px;
    height: 47px;
    border: 2px solid $white;
    color: $white;
    font-size: $font-size-xl;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }

  // .hero-header-container {
  //   top: 20vh;
  // }

  .slider-controller-icon {
    display: block;
  }

  .hero-services {
    font-size: $font-size-xxl;
  }
}

//Min width 768px;
@media all and (min-width: 768px) {
  .hero-btn-container {
    flex-direction: row;
  }

  .hero-name {
    width: 100%;
  }

  .hero-btn-one {
    margin-right: 5px;
  }

  .hero-btn-two {
    margin-left: 5px;
  }

  .slider-controller-container {
    bottom: calc(50% - 40px);
  }
}

//Min width 1024px;
@media all and (min-width: 1024px) {
  .hero {
    height: 85vh;
  }

  .slider-controller {
    width: 80px;
    height: 80px;
    font-size: $font-size-xxxl;
  }

  .hero-text-container {
    width: 80%;
  }

  .hero-services {
    font-size: $font-size-xxxxl;
  }

  .hero-btn {
    margin-bottom: 180px;
  }

  .hero-header-container {
    // width: 70%;
    // left: calc(50% - 35%);
    // top: 23vh;
    // padding-bottom: 63px;
  }
}

//Min width 1400px;
@media all and (min-width: 1400px) {
  .hero-btn-container,
  .hero-header-container {
    left: calc(50% - 585px);
    text-align: left;
  }
}