//Hero section
@import '../variables/colors';
@import '../variables/fonts';

.hero {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: $black;
  width: 100%;
  height: calc(100vh - 80px);

  &-btn-container {
    display: flex;
    flex-direction: column;
  }
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8vh;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.hero-btn-container {
  position: absolute;
  top: 40vh;
  left: calc(50% - 150px);
}

.hero-down-arrow-container {
  text-transform: uppercase;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 5vh;
}

.hero-name {
  color: $hero-name;
  font-size: $font-size-l;
  line-height: 48px;
}

.hero-services {
  padding-bottom: 43px;
  color: $white;
  font-size: $font-size-xl;
}

.hero-paragraph {
  font-size: $font-size-xs;
  color: $white;
  padding-bottom: 20px;
}

.hero-btn {
  width: 300px;
  height: 54px;
  border: none;
  font-size: $font-size-xs;
  text-transform: uppercase;
  font-family: $spartan;
  cursor: pointer;

  &-one {
    background-color: $yellow;
    margin-bottom: 15px;
  }

  &-two {
    background-color: rgba($black, 0.5);
    color: $yellow;
    margin-bottom: 35px;
  }
}

.hero-arrow-down {
  font-size: $font-size-l;
  color: $white;
}

.slider-img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-controller-container {
  position: absolute;
  bottom: 10%;
  left: 20px;
  right: 20px;
  display: none;
}

//RWD============================================================================
//Min width 480px

@media all and (min-width: 480px) {

  .slider-controller {
    width: 47px;
    height: 47px;
    border: 2px solid $white;
    color: $white;
    font-size: $font-size-xl;
    display: flex;
    justify-content: center;
    align-items: center;

    &-container {
      display: flex;
      justify-content: space-between;
    }
  }

  .hero-text-container {
    top: 20vh;
  }

  .slider-controller-icon {
    display: block;
  }

  .hero-services {
    font-size: $font-size-xxl;
  }
}

//Min width 768px;
@media all and (min-width: 768px) {
  .hero-btn-container {
    flex-direction: row;
    left: calc(50% - 305px);
    top: 50vh;
  }

  .hero-text-container {
    width: 60%;
    left: calc(50% - 30%);
  }

  .hero-name {
    width: 100%;
  }

  .hero-btn-one {
    margin-right: 5px;
  }

  .hero-btn-two {
    margin-left: 5px;
  }

  .slider-controller-container {
    bottom: 48vh;
  }
}

//Min width 1024px;
@media all and (min-width: 1024px) {
  .slider-controller {
    width: 60px;
    height: 60px;
    font-size: $font-size-xxxl;
  }

  .hero-services {
    font-size: $font-size-xxxxl;
  }

  .hero-btn {
    margin-bottom: 180px;
  }
}

//Min width 1600px
@media all and (min-width: 1600px) {

  .hero-btn-container,
  .hero-text-container {
    left: calc(50% - 692px)
  }

  .hero-text-container {
    text-align: left;
    top: 20vh;
  }
}