//Navigation section
@import '../variables/colors';
@import '../variables/fonts';

body.active {
  position: absolute;
  right: 300px;
  top: 0;
  transition: .5s all linear;
}

.logo-container {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo-img {
  margin-left: 25px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -320px;
  width: 300px;
  height: 100vh;
  background-color: $mobile-menu-background;
  z-index: 999;
  transition: .5s all linear;
}

.menu.active {
  right: 0;
}

.menu-item {
  list-style-type: none;
  text-align: left;
  font-size: $font-size-l;
  padding-left: 42px;
  font-family: $spartan;
  line-height: 80px;

  >a {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    // line-height: 25x;
  }

  &:first-child {
    display: flex;
    align-items: center;
    font-size: $font-size-xs;
    color: $mobile-menu-controller;
  }
}

.hamburger {
  position: absolute;
  top: 30px;
  right: 24px;
  font-size: $font-size-s;
  color: $hamburger-icon;
}

.hamburger-icon.active {
  display: none;
}

.menu-controller {
  display: flex;
  align-items: center;
}

.menu-controller-icon {
  padding-right: 32px;
  font-size: $font-size-l;
}

//RWD=============================================================================
//Min width 480px
@media all and (min-width:480px) {
  .menu {
    width: 382px;
    right: -390px;
  }
}

//Min width 1024px
@media all and (min-width:1024px) {
  .menu {
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  
    width: 100%;
    right: 0;
    // right: calc((100% - 1384px) / 2);
    background-color: transparent;
    height: 80px;
  }

  .menu-item {
    display: flex;
    align-items: center;
    font-size: $font-size-xxs;
    padding-right: 37px;
    padding-left: 0;
    text-align: center;
    line-height: 20px;

    >a {
      color: $mobile-menu-background;
      line-height: 77px;
      transition: .3s;

      &::after {
        content: '';
        display: block;
        width: 98%;
        border: 2px solid $yellow;
        background-color: $yellow;
        visibility: hidden;
      }
    }

    &:hover a {
      color: $yellow;
      cursor: pointer;
    }

    &:hover a::after {
      visibility: visible;
    }

    &:first-child {
      display: none;
    }
  }

  .hamburger-icon {
    display: none;
  }

  .logo-container {
    height: 80px;
  }

  .logo-img {
    margin-left: 37px;
  }
}