//Navigation section

body.active {
  position: absolute;
  right: 300px;
  top: 0;
  transition: .5s all linear;
}

.logo-container {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo-img {
  margin-left: 25px;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -320px;
  width: 300px;
  height: 100vh;
  background-color: $mobile-menu-background;
  z-index: 999;
  transition: .5s all linear;
}

.menu.active {
  right: 0;
}

.menu-item {
  list-style-type: none;
  text-align: left;
  font-size: $font-size-l;
  padding-left: 42px;
  font-family: $spartan;
  line-height: 90px;

  >a {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
  }

  &:first-child {
    display: flex;
    align-items: center;
    font-size: $font-size-xs;
    color: $mobile-menu-controller;
  }
}

.hamburger {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: $font-size-xl;
  color: $hamburger-icon;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    display: none;
  }
}

.hamburger-icon.active {
  display: none;
}

.menu-controller {
  display: flex;
  align-items: center;
}

.menu-controller-icon {
  padding-right: 32px;
  font-size: $font-size-l;
}

//RWD=============================================================================
//Min width 480px
@media all and (min-width:480px) {
  .menu {
    width: 382px;
    right: -390px;
  }
}

//Min width 1024px
@media all and (min-width:1024px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    height: 90px;
  }

  .menu-item {
    font-size: $font-size-xxs;
    padding-right: 37px;
    padding-left: 0;
    text-align: center;

    >a {
      color: $mobile-menu-background;
      transition: .3s;

      &::after {
        content: '';
        display: block;
        width: 98%;
        height: 3px;
        border: 1px solid $yellow;
        background-color: $yellow;
        visibility: hidden;
        position: relative;
        top: -5px;
      }
    }

    &:hover a {
      color: $yellow;
      cursor: pointer;
    }

    &:hover a::after {
      visibility: visible;
    }

    &:first-child {
      display: none;
    }
  }

  .hamburger-icon {
    display: none;
  }

  .logo-container {
    position: absolute;
    height: 90px;

  }

  .logo-img {
    margin-left: 37px;
  }
}

//Min width 1170px
@media all and (min-width: 1170px) {
  .menu-item {

    a {
      font-size: $afont-size-s;
    }
  }

  .logo-img {
    margin-left: 0;
  }

  .menu-item:last-child {
    padding-right: 0;
  }
}