//Other services in article site section
@import '../variables/colors';
@import '../variables/fonts';

.other-services {
  background-image: url(../../images/other-article-bcg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-header {
    text-transform: uppercase;
    font-size: $font-size-s;
    text-align: center;
    color: $tiles-info-span;
    padding: 58px 0 46px 0;
  }

  &-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-btn {
    width: 300px;
    height: 65px;
    border: 2px solid $black;
    background-color: transparent;
    margin-bottom: 15px;
    font-family: $spartan;
    color: $black;
    font-size: $font-size-s;
    cursor: pointer;

    &:nth-of-type(3) {
      margin-bottom: 61px;
    }
  }
}

//RWD
//Min width 480px
@media all and (min-width: 480px) {
  .other-services {
    &-header {
      font-size: $afont-size-m;
    }

    &-btn-container {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

//Min width 768px
@media all and (min-width: 768px) {
  .other-services {

    &-header {
      padding: 56px;
    }

    &-btn-container {
      max-width: none;
    }


    &-btn-1 {
      width: 190px;
      margin-right: 18px;
    }

    &-btn-2 {
      width: 240px;
      margin-right: 18px;
    }

    &-btn-3 {
      width: 244px;
    }
  }
}

//Min width 1024px
@media all and (min-width: 1024px) {
  .other-services {

    &-btn {
      font-size: $afont-size-m;
    }

    &-btn-1 {
      width: 220px;
      margin-right: 18px;
    }

    &-btn-2 {
      width: 240px;
      margin-right: 18px;
    }

    &-btn-3 {
      width: 275px;
    }
  }
}