//Realizations section
@import '../variables/colors';
@import '../variables/fonts';

.realizations {
  width: 90%;
  margin: 0 auto;
}

.realizations-header {
  font-size: $font-size-xl;
  text-transform: uppercase;
  padding-top: 42px;
  padding-bottom: 33px;
}

.realizations-text-container {
  width: 100%;
  margin: 0 auto;
}

.realizations-paragraph {
  font-size: $font-size-xs;
  color: $realizations-subheader;
  font-family: $roboto;
  line-height: 24px;
}

.realizations-controller-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 42px;
  padding-top: 34px;

  >a {
    text-decoration: none;
    text-transform: uppercase;
    color: $yellow;
    font-size: $font-size-xs;
  }
}

.realizations-controller-arrows {
  font-size: $font-size-m;

  >i {
    padding-right: 20px;
  }
}

.realizations-item {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid $border-realizations;
  margin-bottom: 10px;

  img {
    width: 100%;
  }

  &:nth-child(3) {
    margin-bottom: 41px;
  }

  &-header {
    font-size: $font-size-s;
    padding: 34px 20px 27px 20px;
  }

  &-paragraph {
    font-size: $font-size-xs;
    font-family: $roboto;
    line-height: 24px;
    color: $services-paragraph;
    padding: 0 20px 38px 20px;
  }
}

//RWD
//Min width 768px
@media all and (min-width: 768px) {
  .realizations-item {
    display: flex;
    width: 90%;
  }

  .realizations-item-text {
    display: flex;
    flex-direction: column;
  }
}

//Min width 1024px
@media all and (min-width: 1024px) {
  .realizations-header {
    float: left;
    padding-top: 60px;
  }

  .realizations-paragraph {
    padding-top: 60px;
    padding-left: 40%;
  }

  .realizations-controller-container {
    padding-bottom: 32px;
    width: 100%;
  }

  .realizations-flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .realizations-item {
    flex-direction: column;
    width: 32%;
    margin: 0;
    margin-bottom: 41px;
  }
}

//min width 1170px
@media all and (min-width: 1170px) {
  .realizations-header-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .realizations-text-container {
    display: flex;
    flex-direction: column;
  }

  .realizations-controller-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .realizations-container {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .realizations-paragraph {
    padding: 0;
  }

  .realizations-link {
    line-height: 60px;
  }

  .realizations-header {
    padding-top: 0;
  }
}