//Realizations in article site section
@import '../variables/colors';
@import '../variables/fonts';

.realizations-header-article {
  font-size: $afont-size-m;
  padding: 30px 0;
  border-bottom: 1px solid $border-realizations;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.realizations-article-desktop {
  display: none;
}

.realizations-btn-article {
  border: none;
  width: 100%;
  height: 70px;
  font-family: $spartan;
  text-transform: uppercase;
  font-size: $font-size-xs;
  color: $white;
  background-color: $yellow;
  margin-bottom: 28px;
}

.realizations-item-article {
  width: 100%;
}

//RWD ======================================================================
//Min width 768px 
@media all and (min-width: 768px) {
  .realizations-btn-article {
    margin-bottom: 50px;
  }
}

//Min width 1024px 
@media all and (min-width: 1024px) {
  .realizations-flex-container {
    margin-right: 0;
    margin-left: 0;

  }

  .realizations-item-article {
    width: 32%;
  }

  .realizations-article-desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .realizations-btn-article {
    margin-bottom: 70px;
  }
}