//Services section
@import '../variables/colors';
@import '../variables/fonts';

.services-flex {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  background-color: $black;
}

.services-btn {
  margin: 0 auto;
  border: 2px solid $yellow;
  background-color: transparent;
  font-family: $spartan;
  color: $yellow;
  font-size: $font-size-l;
  cursor: pointer;
}

.services-1 {
  background-image: url(../../images/services_1.png);
}

.services-2 {
  background-image: url(../../images/services_2.png);
}

.services-3 {
  background-image: url(../../images/services_3.png);
}

.services-4 {
  background-image: url(../../images/services_4.png);
}

.services-btn-1 {
  width: 199px;
  height: 70px;
  margin: 90px auto;
}

.services-btn-2 {
  width: 221px;
  height: 70px;
  margin: 90px auto;
}

.services-btn-3,
.services-btn-4 {
  width: 192px;
  height: 110px;
  margin: 70px auto;
}

//RWD====================================================================
//min width 768px
@media all and (min-width:768px) {
  .services-item {
    width: 50%;
  }
}

//min width 1024px
@media all and (min-width:1024px) {
  .services-btn-1,
  .services-btn-2 {
    margin: 115px auto;
  }

  .services-btn-3,
  .services-btn-4 {
    margin: 95px auto;
  }
}

//Min width 1170px
@media all and (min-width: 1170px) {
  .services-item {
    width: 25%;
  }
}