//Team section
@import '../variables/colors';
@import '../variables/fonts';

.team {
  background-color: $background-black;
}

.team-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 260px;
  width: 90%;
  border: 1px solid $border-gray;
  margin-top: 10px;

  &:nth-child(1) {
    margin-top: 30px;
  }

  &:nth-child(3) {
    margin-bottom: 30px;
  }
}

.team-img {
  margin: 36px auto;
}

.team-member {
  color: $team-name;
  text-transform: uppercase;
  font-size: $font-size-xs;
  line-height: 25px;
}

.team-paragraph {
  color: $team-paragraph;
  font-size: $font-size-xs;
  font-family: $roboto;
  text-align: center;
  line-height: 25px;
  width: 86%;
  margin: 0 auto;
}

//RWD =====================================================================
//Min width 1024px
@media all and (min-width: 1024px) {
  .team-item {
    // width: 32%;
    width: 307px;
    margin: 0;
    height: 310px;
    margin-top: 37px;
    margin-bottom: 37px;

    &:nth-child(1) {
      margin-top: 37px;
    }
  }

  .team-flex {
    justify-content: space-between;
    padding: 0 37px;
  }
}

//min width 1170px
@media all and (min-width: 1170px) {
  .team-item {
    flex-direction: row;
    height: 200px;
    margin: 80px auto;

    &:nth-child(1) {
      margin-top: 80px;
    }
  }

  .team-flex {
    padding: 0;
  }

  .team-item-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    text-align: center;
  }

  .team-member {
    width: 80%;
    text-align: left;
  }

  .team-paragraph {
    width: 80%;
    text-align: justify;
  }
}