//Tiles section
@import '../variables/colors';
@import '../variables/fonts';

.tiles-container {
  width: 90%;
  margin: 0 auto;
  font-family: $roboto;
  text-align: justify;
  overflow: hidden;
}

.tiles-header {
  text-transform: uppercase;
  font-size: $font-size-l;
  color: $tiles-header;
  line-height: 130px;
  background-image: url(../../images/services_article.png);
  background-color: $yellow;
  text-align: center;
  margin-bottom: 49px;
  ////Dodalem
  width: 100%;
}

.tiles-subheader {
  font-size: $afont-size-l;
  color: $tiles-subheader;
  line-height: 30px;
  padding-bottom: 49px;
}

.tiles-paragraph {
  font-size: $afont-size-s;
  color: $tiles-paragraph;
  line-height: 30px;
}
////////////////////////////////
.tiles-img-container {
  display: flex;
  justify-content: center;
}
//////////////////////////////
.tiles-img {
  margin: 31px auto;
}

.tiles-form {
  display: flex;
  flex-wrap: wrap;
  background-color: $black;
  justify-content: center;
  margin-top: 41px;
  margin-bottom: 65px;

  h3 {
    color: $white;
    text-transform: uppercase;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.msg-name,
.msg-mail,
.msg-subject {
  width: 90%;
  height: 48px;
  margin-bottom: 10px;
  font-family: $roboto;
  color: $form-input;
  padding-left: 26px;
  border: none;
}

.msg-input {
  height: 95px;
  width: 90%;
  border: none;
  padding-left: 26px;
  margin-bottom: 10px;
}

.form-submit {
  width: 90%;
  height: 48px;
  margin-bottom: 36px;
  border: none;
  color: $black;
  text-transform: uppercase;
  font-family: $spartan;
  font-size: $font-size-xs;
  background-color: $yellow;
  cursor: pointer;
}

.tiles-info {
  margin: 0 auto;
  background-color: $tiles-description;

  &-header {
    font-size: $font-size-s;
    text-transform: uppercase;
    font-family: $spartan;
    line-height: 80px;
    text-align: center;
  }

  &-subheader {
    color: $tiles-info-span;
    font-size: $font-size-s;
    padding: 0 15px 20px 15px;
  }

  &-paragraph {
    padding: 0 15px 36px 15px;
    color: $tiles-info-paragraph;
    font-size: $font-size-xs;
  }
}

//RWD
//Min width 480px
@media all and (min-width: 480px) {
  .tiles-header {
    font-size: $font-size-xl;
    text-align: left;
    padding-left: 5%;
  }

  .tiles-form {
    h3 {
      width: 80%;
    }
  }

  .msg-name,
  .msg-mail,
  .msg-subject {
    width: 80%;
  }

  .msg-input {
    height: 95px;
    width: 80%;
  }

  .form-submit {
    width: 80%;
  }
}

//Min width 768px 
@media all and (min-width: 768px) {
  .tiles-img {
    margin: 65px auto;
  }

  .tiles-form {
    h3 {
      width: 80%;
    }

    :nth-child(2) {
      width: 39%;
      margin-right: 1%;
    }

    :nth-child(3) {
      width: 39%;
      margin-left: 1%;
    }

  }
}

//Min width 1024px
@media all and (min-width: 1024px) {
  .tiles-header {
    margin-bottom: 80px;
  }

  .tiles-container {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .tiles-form {
    margin-top: 0;

    h3 {
      width: 80%;
    }

    :nth-child(2) {
      width: 80%;
      margin-right: 0;
    }

    :nth-child(3) {
      width: 80%;
      margin-left: 0;
    }
  }

  .tiles-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 100%;
    width: 370px;
    padding-left: 30px;
  }

  .tiles-text-container {
    width: 95%;
  }

  .tiles-info {

    &-header {
      line-height: 90px;
    }

    &-subheader {
      line-height: 30px;
    }

    &-paragraph {
      line-height: 30px;
    }
  }
}

//Min width 1384px
@media all and (min-width: 1384px) {
  .tiles {

    &-header {
      padding-left: calc(100vh - 1384px)/2;
    }

    &-container {
      width: 100%;
    }
  }
}